body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.l-float-right {
    float: right;
}

.l-float-left {
    float: left;
}

.width-full {
    width: 100%;
}

.color-white {
    color: #FFF;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #D17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.alert-default {
    background-color: #7388A1;
    color: #FFF;
}

.alert-filter {
    background-color: #775E81;
    color: #FFF;
}

.selected-alert-data {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.source-logs-row {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.no-source-logs {
    font-size: 16px;
}

.brand-name {
    font-size:28px;
}

.brand-label-version {
    background-color: #D0A862 !important;
    font-size:12px;
}

.source-logs-time {
    color: #95A5A6;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    font-size: 12px;
    border: 0px;
}

.histo-menu {
    border-left: 7px solid #7388A1;
}

.docker-container-name {
    border-left: 7px solid #117275;
    text-transform: uppercase;
}

.docker-container-id {
    font-size: 10px;
    color: #95A5A6;
}

.alert-success2 {
    background-color: #117275;
    color: #FFF;
}

.page-content {
    padding: 50px;
}

/* [START| ANGULAR SPECIFIC */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-hide {
    display: none !important;
}

/* [END| ANGULAR SPECIFIC */

.devicon-git-plain {
    max-width: 2em;
}

/* if you want to change the original color */
.devicon-git-plain path {
    fill: #4691F6;
}

.menu-icon {
    font-size: 32px;
}

.menu-container-name {
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
