body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.width-full {
    width: 100%;
}

.color-white {
    color: #FFF;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #D17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.alert-default {
    background-color: #7388A1;
    color: #FFF;
}

.alert-filter {
    background-color: #775E81;
    color: #FFF;
}

.selected-alert-data {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.source-logs-row {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.no-source-logs {
    font-size:16px;
}

.brand-label-version {
    background-color: #d0a862 !important;
}

.source-logs-time {
    color: #95A5A6;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    font-size: 12px;
    border: 0px;
}

.log-warning {
    color: #F0AD4E;
    font-weight: bold;
    border: 1px solid;
}

.log-error {
    color: #D9534F;
    font-weight: bold;
    border: 1px solid;
}

.log-fatal {
    color: #FFF;
    background-color: #973A37;
    font-weight: bold;
    border: 1px solid;
}

.level-info-label {
    background-color: #5BC0DE;
}

.level-warning-label {
    background-color: #F0AD4E;
}

.level-error-label {
    background-color: #D9534F;
}

.level-debug-label {
    background-color: #6DD4C0;
}

.level-trace-label {
    background-color: #FAE6C9;
}

.level-fatal-label {
    background-color: #973A37;
}

.level-info-menu {
    border-left: 7px solid #5BC0DE;
    text-transform: uppercase;
}

.level-warning-menu {
    border-left: 7px solid #F0AD4E;
    text-transform: uppercase;
}

.level-error-menu {
    border-left: 7px solid #D9534F;
    text-transform: uppercase;
}

.level-debug-menu {
    border-left: 7px solid #6DD4C0;
    text-transform: uppercase;
}

.level-trace-menu {
    border-left: 7px solid #FAE6C9;
    text-transform: uppercase;
}

.level-fatal-menu {
    border-left: 7px solid #973A37;
    text-transform: uppercase;
}

.histo-menu {
    border-left: 7px solid #7388A1;
}

.docker-container-name {
    border-left: 7px solid #117275;
    text-transform: uppercase;
}

.docker-container-id {
    font-size: 10px;
    color: #95A5A6;
}

.alert-success2 {
    background-color: #117275;
    color: #FFF;
}

.page-content {
    padding: 50px;
}

/* [START| ANGULAR SPECIFIC */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-hide {
    display: none !important;
}

/* [END| ANGULAR SPECIFIC */

.devicon-git-plain {
    max-width: 2em;
}

/* if you want to change the original color */
.devicon-git-plain path {
    fill: #4691F6;
}

.menu-icon {
    font-size: 32px;
}

.menu-container-name {
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
